body {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: "Maven Pro", sans-serif;
    text-transform: uppercase;
    background-image: radial-gradient(yellow, rgb(253, 135, 50));
}
header{
    color: gold;
    width: 800px;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 4px 4px 8px black;
}
.top-container {
    display: flex;
    justify-content: center;
}
.hidden {
    width: 900px;
    height: 720px;
    background-color: white;
    display: block;
    z-index: 1;
}
.hidden-container {
    position: absolute;
    display: flex;
    justify-content: center;
}
.hidden1, .hidden2 {
    display: none;
}
.hidden2 {
    overflow: scroll;
}
.hidden3 > button {
    margin: 30px 30px;
    display: inline-block;
    font-size: 50px;
}
.hidden1 > div > img{
    width: 700px;
}
.hidden3 > h1 {
    font-size: 40px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
    text-align: left;
    margin: 10px 50px -10px;
    text-decoration: underline;
}
.single > div, .double > div {
    margin-top: 10px;
    height: 100px;
}
.hidden > p, .single > div, .double > div {
    padding: 10px 50px;
    text-transform: none;
    font-size: 18px;
    text-align: justify;
}
.single > div, .double > div{
    padding: 0 30px;
    font-size: 18px;
    text-align: left;
}
.scoring-container {
    display: flex;
    justify-content: flex-start;
}
.single {
    width: 425px;
}
.single, .double {
    margin: 20px 10px;
}
.single > div > img, .double > div > img, .mixed {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    float: left;
}
.special {
    padding: 0 40px;
    font-size: 18px;
    height: 100px;
    text-align: left;
    margin: 30px 0 20px 0;
    text-transform: none;
}
.container {
    display: flex;
    justify-content: center;
    height: 600px;
}
main {
    background-color: white;
    color: black;
    width: 500px;
}
.left-container, .right-container {
    color: white;
    width: 200px;
    font-size: 24px;
}
.p1 {
    background-color: #8e44ad;
}
.p2 {
    background-color: darkcyan;
}
.p3 {
    background-color: #3F51B5;
}
.p4 {
    background-color: darkred;
}
.p1, .p2, .p3, .p4 {
    height: 300px;
}
.player1, .player2, .player3, .player4 {
    padding: 15px 5px;
}
.dice {
    margin: 30px 0;
}
.score {
    margin-top: 0px;
}
.newgame {
    visibility: hidden;
}
button {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ECC203;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    text-transform: uppercase;
}
.bank {
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 14px;
}
.display {
    font-size: 50px;
}
.rollscore {
    font-size: 30px;
}
button:hover {
    background-color: #CAA603;
}
button:active {
    background-color: #CAA603;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#dice1, #dice2 {
    width: 100px;
    height: 100px;
    padding: 10px;
}
a {
    font-size: 18px;
    padding: 0 20px;
    color: black;
}
footer {
    text-align: center;
}
button.x {
    float: right;
    font-size: 12px;
    padding: 10px 10px;
}
#playerSelect {
    margin: 20px auto;
    width: 600px;
}
.gif-container {
    display: flex;
    justify-content: center;
}
#gif {
    background-image: url('../images/giphy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    width: 400px;
    height: 200px;
    position: absolute;
    margin-top: 390px;
    display: none;
}
#disclaimer {
    font-size: 10px;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
}
.rotate-dice  {
    animation-name: rotate;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}