body {
    margin: 0 auto;
    /* margin-top: 0px; */
    text-align: center;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    height: 700px;
}
.left-container, .right-container {
    height: 700px;
    flex-direction: column;

}

.display {
    background-color: lightgray;
    width: 400px;
}

.player1, .player2 {
    color: white;
    width: 200px;
}

.player1, .player4 {
    background-color: red;
}

.player2, .player3 {
    background-color: blue;
}

.player3, .player4 {
    margin: auto;
}
.dice {
    margin-top: 150px;
}
.score {
    margin-top: 150px;
}
.bank {
    margin-top: 10px;
}