body {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: "Maven Pro", sans-serif;
    text-transform: uppercase;
    background-image: url("../images/beachbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    color: gold;
    width: 400px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}
.top-container {
    display: flex;
    justify-content: center;
}
.hidden {
    width: 800px;
    height: 700px;
    background-color: black;
    display: none;
}
.hidden-container {
    position: absolute;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    height: 600px;
}
main {
    background-color: white;
    color: black;
    width: 500px;
}
.left-container, .right-container {
    color: white;
    width: 200px;
    font-size: 24px;
}
.player1-container {
    background-color: darkcyan;
}
.player2-container {
    background-color: slateblue;
}
.player3-container {
    background-color: orchid;
}
.player4-container {
    background-color: yellowgreen;
}
.player1, .player2, .player3, .player4 {
    padding: 15px 5px;
}
.player1-container, .player2-container, .player3-container, .player4-container {
    height: 300px;
}
.dice {
    margin-top: 100px;
    margin-bottom: 40px;
}
.score {
    margin-top: 0px;
}
.newgame {
    visibility: hidden;
}
button {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    text-transform: uppercase;
}
.bank {
    margin-top: 10px;
    font-size: 12px;
}
.rollscore {
    font-size: 20px;
}
button:hover {
    background-color: #3e8e41
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#dice1, #dice2 {
    width: 100px;
    height: 100px;
    padding: 10px;
}
/* Properties that make the image rotate */
/* img {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 0.5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
 */

@-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to { 
      -webkit-transform: rotate(360deg);
    }
}